<nav class="container-menu">
    <ul>
      <li class="" id="" rel="">
        <a class="" [routerLink]="['/empresas']">
          <fa name="credit-card"></fa>Empresas
        </a>
      </li>
      <li class="" id="" rel="">
        <a class="" [routerLink]="['/configuracoes']">
          <fa name="credit-card"></fa>Configurações
        </a>
      </li>
      <li class="" id="" rel="">
        <a class="" [routerLink]="['/usuarios']">
          <fa name="credit-card"></fa>Usuários
        </a>
      </li>
      <li class="" id="" rel="">
          <a class="" [routerLink]="['/login']">
            <fa name="sign-out"></fa>Sair
          </a>
      </li>
    </ul>
  </nav>
